@font-face {
    font-family: 'Roboto-m';
    src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf');
    font-family: 'Roboto-l';
    src: url('/src/assets/fonts/Roboto/Roboto-Light.ttf');
  }

  *, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-l' ,sans-serif;
  }

  .segmento{
    padding: 1rem; 
    background-color: black;
    color: white;
  }
  
  footer{
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  footer h2{
    font-size: 1.3rem;
    font-style: italic;
  }
  
  footer img{
    height: 35px;
  }
  
  .redes-sociales{
    display: flex;
    align-items: center;
  }
  
  .redes-sociales img{
    margin: 10px;
    margin-left: 20px;
  }
  
  @media screen and (max-width: 720px){
    footer{
      flex-direction: column;
      gap: 10px;
    }
  }